@charset "utf-8";

/* CSS Document */

*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#boardSkin {font-size:16px; font-family:'Nanum Barun Gothic', 맑은고딕, "Malgun Gothic", "Apple SD Gothic Neo", sans-serif, 나눔고딕, "Nanum Gothic", Dotum; font-style:normal; font-weight:normal; line-height:1.5;}
select, input[type="text"], input[type="password"], .textForm, textarea {background:#ffffff; border:1px solid #d3d3d3; font-size:16px; color:#585858;}
select {height:35px; padding:5px 5px 5px 10px; vertical-align:middle;}
input[type="text"], input[type="password"],.textForm {padding:0 10px;}
input[type="text"], input[type="password"], input[type="file"], .textForm {font-size:16px; color:#585858; height:35px;}
textarea {padding:10px;}

#boardSkin .no_data {padding:50px; text-align:center; background:#f7f7f7;}

.main_pop {font-family:'Nanum Barun Gothic', 맑은고딕, "Malgun Gothic", "Apple SD Gothic Neo", sans-serif, 나눔고딕, "Nanum Gothic", Dotum;}
.main_pop .pop_cont {background:#fff;}
.main_pop .pop_cont img {display:block; max-width:100%;}
.main_pop .pop_footer {font-style:normal; font-weight:normal; position:relative; padding:7px 5px; color:#fff; background:#070a13;}
.main_pop .pop_footer * {vertical-align:middle;}
.main_pop .pop_footer a {position:absolute; top:7px; right:10px;}

.boardTop {overflow:hidden; margin-bottom:30px;}
.boardTitle {float:left; font-size:36px; font-weight:700; color:#383838;}


/*############################################################# 리스트 #############################################################*/
table.boardList {width:100%; border-top:2px solid #383838; word-break:break-all; text-align:center;}
table.boardList th {border-bottom:1px solid #c8c8c8; font-size:16px; font-weight:normal; color:#383838; line-height:55px; background:#f8f8f8;}
table.boardList td {border-bottom:1px solid #cbcbcb; padding:17px 5px; font-size:16px; color:#585858; text-align:center; line-height:25px;}
table.boardList td.td_category {color:#2dabb2;}
table.boardList td.td_subject {text-align:left;}


/*############################################################# 카테고리 #############################################################*/
#categoryBox {overflow:hidden; margin-bottom:20px; text-align:left;}
#categoryBox .category {overflow:hidden; border-top:1px solid #d9d9d9; border-left:1px solid #d9d9d9; vertical-align:top;}
#categoryBox .category li {float:left; vertical-align:middle; background:#f3f3f3;}
#categoryBox .category li a {display:block; text-align:center; font-size:17px; line-height:53px; font-weight:normal; color:#303030; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
#categoryBox .category li a {border-right:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}
#categoryBox .category li a:hover {background:#2dabb2; color:#fff; font-weight:400; text-decoration:none;}
#categoryBox .category li.select a { background:#2dabb2; color:#fff;}
#categoryBox .category li.select a:hover { background:#2dabb2; color:#fff; text-decoration:none;}
#categoryBox .category.grid2 li {width:50%;}
#categoryBox .category.grid3 li {width:33.33%;}
#categoryBox .category.grid4 li {width:25%;}
#categoryBox .category.grid5 li {width:20%;}
#categoryBox .category.grid6 li {width:33.33%;}
#categoryBox .category.grid7 li {width:25%;}
#categoryBox .category.grid8 li {width:25%;}
#categoryBox .category.grid9 li {width:20%;}
#categoryBox .category.grid10 li {width:20%;}


/*############################################################# 페이징 #############################################################*/
.pageArea {text-align:center; margin:40px 0 40px;}
.pageArea .pagingList {text-align:center; display:inline-block;}
.pageArea .pagingList > span, .pageArea .pagingList > a {float:left; margin:0 5px; border:1px solid #383838;}
.pageArea  img {vertical-align:top;}
.pageArea .paging {display:inline-block; float:left;}
.pageArea .paging li {float:left; width:40px; height:40px; margin:0 5px;}
.pageArea .paging li a {display:block; height:40px; border:1px solid #a8a8a8; font-size:15px; color:#595959; line-height:38px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
.pageArea .paging li.over a, .pageArea .paging li a:hover {border-color:#383838; color:#fff; background:#383838;}




/*############################################################# 검색 #############################################################*/
#searchBox {margin:0px 0 40px; padding:40px; border:1px solid #ededed;  text-align:center; background:#f3f3f3;}
#searchBox * {vertical-align:top;}
#searchBox form {display:inline-block;}
#searchBox select, #searchBox input[type='text'] {float:left; height:40px; font-size:16px; color:#595959;}
#searchBox select {width:120px; margin-right:14px; padding:5px;}
#searchBox input[type='text'] {width:270px; margin-right:14px;}
#searchBox input[type='submit'] {float:left; width:120px; height:40px; margin-right:0; border:0px; font-size:16px; color:#fff; cursor:pointer; background:#383838;}
#searchBox .btn {float:left !important; width:120px; min-width:auto; margin:0; margin-left:14px;}



/*################################# view #################################*/
.boardView {width:100%; border-top:2px solid #383838;}
.boardView .subject {display:block; padding:23px 10px; margin-right:600px; font-size:17px; color:#383838; line-height:23px;}
.boardView .subject em {color:#339ea4;}
.boardView .top {position:relative; border-bottom:1px solid #cbcbcb;}
.boardView .contents {padding:20px; border-bottom:1px solid #a8a8a8;}
.boardView .contents .tit {display:block; width:100px; margin-bottom:20px; font-size:15px; color:#fff; text-align:center; line-height:30px; background:#383838;}
#replay_cont {padding:50px; border-bottom:1px solid #a8a8a8; background:#f8f8f8;}
#replay_cont .tit {display:block; width:100px; margin-bottom:20px; border:1px solid #595959; font-size:15px; color:#595959; text-align:center; line-height:30px; background:#fff;}
.boardView .file {border-bottom:1px solid #cbcbcb; padding:15px; }
.boardView .file * {vertical-align:middle;}
.boardView .file .tit {float:left; font-size:15px; color:#383838;}
.boardView .file ul {position:relative; margin-left:90px;}
.boardView .file ul:before {position:absolute; top:0; left:-17px; content:'|';}
.boardView .file a {display:inline-block; color:#0971ba; line-height:20px;}
.boardView .file img {vertical-align:middle !important;}
.boardView .file li {padding-left:20px; background:url('../img/board/ico_file.gif') no-repeat 0 6px;}
.boardView .contents .imgWrap {margin-bottom:7px; text-align:center;}
.boardView .contents .imgWrap img {width:auto; max-width:100%;}
.boardView .contents img {max-width:100%;}

.bInfo {position:absolute; top:22px; right:10px;}
.bInfo li {float:left; position:relative; margin-left:26px; font-size:15px;}
.bInfo li+li:before {position:absolute; left:-13px; top:-1px; content:'|';}
.bInfo b {font-weight:normal; color:#339ea4;}

.bListInfo {overflow:hidden;}
.bListInfo li {float:left; position:relative; font-size:14px; color:#a8aaac;}
.bListInfo li+li {margin-left:12px;}
.bListInfo li+li:before {position:absolute; top:0; left:-9px; content:'/'}
.bListInfo li.writer {color:#4a80d8;}

/*################################# write #################################*/
.agreeBox.type01 {margin-bottom:40px; border:1px solid #e1e1e1; background:#f8f8f8;}
.agreeBox.type01 .scrollCont {height:120px; padding:25px; overflow:hidden; overflow-y:auto; line-height:150%; background:#fff;}
.agreeBox.type01 .agreeChk {padding:15px; text-align:right;}

.agreeBox.type02 {margin-bottom:40px; background:#f8f8f8; border:1px solid #e1e1e1; padding:40px;}
.agreeBox.type02 p {text-align:center; padding-top:15px; font-size:15px;}
.agreeBox.type02 p .smallT { font-size:13px; color:#999;}
.agreeBox.type02 table {width:100%; border-top:2px solid #000; background:#FFF;}
.agreeBox.type02 table th, 
.agreeBox.type02 table td { border:1px solid #d3d3d3; padding:12px; font-size:16px; text-align:center;}
.agreeBox.type02 table th {font-size:17px; color:#000;}

.writeForm {width:100%; border-top:2px solid #242633;}
.writeForm td * {vertical-align:middle;}
.writeForm td, .writeForm th {border-bottom:1px solid #cbcbcb; padding:20px; text-align:left;}
.writeForm th {font-size:16px; color:#585858; padding:17px 10px 17px 30px; vertical-align:top; line-height:22px; vertical-align:middle; background:#f8f8f8;}
.boardTxt {font-size:15px; color:#585858;}
span.boardTxt, em.boardTxt {display:inline-block; padding-left:10px;}
p.boardTxt {padding-top:5px;}
em.boardTxt, .boardTxt em {color:#0971ba;}
.writeForm .file_list li+li {margin-top:5px;}
.writeForm .file_img {margin-top:5px;}
.auto_input_box b {color:#ff0000;}
.auto_input_box b.txt {display:inline-block; padding-left:15px;}





/*################################# passwordBox #################################*/
.passwordBox {position:relative; width:700px; margin:100px auto; padding:100px 45px 45px; border:1px solid #ededed; text-align:center; background:#f8f8f8;}
.passwordBox .timg {position:absolute; top:-100px; left:270px;}
.passwordBox strong {display:block; font-size:24px; color:#383838;}
.passwordBox > p {padding:15px 0 30px; font-size:15px; color:#585858;}
.passwordBox input[type="password"] {width:380px;}
.passwordBox .btn {margin-top:20px;}


/*############################################################# 버튼 #############################################################*/



.btnArea {overflow:hidden; margin-top:30px; text-align:center;}
.btnArea * {vertical-align:middle;}
.btnArea p {display:inline-block;}
.btnArea p.right {float:right; margin-right:-5px;}
.btnArea p.left {float:left; margin-left:-5px;}
.btnArea p .btn {float:left; margin:0 5px;}
.btn {display:inline-block; min-width:150px; height:40px; padding:0 20px; border:0; font-size:16px; color:#fff !important; text-align:center; line-height:40px; background:#383838; cursor:pointer;} 

.btn.larger {min-width:240px; height:65px; line-height:65px; font-size:20px;}
.btn.small {width:75px; min-width:75px; height:25px; padding:0; border-radius:5px; font-size:14px; color:#fff; line-height:25px; background:#c2c2c2;}
.btn.normal {min-width:auto; height:30px; font-size:15px; line-height:30px;}

.btn.round {border-radius:5px;}

.btn.gray01 {background:#c2c2c2;}
.btn.gray02 {background:#7f7f7f;}
.btn.btn_border {color:#383838  !important; border:1px solid #595959; line-height:38px; background:none;}
.btn.c_point {background:#2dabb2;}
.btn.b_gray {line-height:23px; border:1px solid #595959; color:#595959 !important; background:#fff;}

/* common */
.btnArea + .pageArea {margin-top:20px;}
.full {width:100%;}
.fSize60 {width:60%;}
.fSize01 {width:250px;}
.fSize02 {width:100px;}
input.number, select.number {width:100px;}
.red {color:#c90b0b;}
.point {color:#2dabb2;}
.hr  {display:block; height:100px; border:0;}
.left {float:left;}
.right {float:right;}