@charset "utf-8";

#wrap {overflow:hidden; position:relative; width:100%; min-width:1280px; margin:0 auto;}

#skip_nav {position:fixed; left:0; top:-40px; width:100%; text-align:center; line-height:40px; background:rgba(0, 0, 0, 0.5); color:#ffffff; font-size:16px; z-index:10000; transition:top 0.3s;}
#skip_nav:focus {top:0;}

.top_head_wrap {position:relative; z-index:1; overflow:hidden; height:40px; width:1280px; margin:0 auto;}
#top_head {border-bottom:1px solid #ddd; background:#f6f6f6;}
#top_head h2 {float:left; position:relative; padding-left:18px; font-size:14px; color:#444444; line-height:38px;}
#top_head h2:before {position:absolute; top:50%; left:0; width:3px; height:3px; margin-top:-2px; background:#878787; content:'';}
#top_notice {overflow:hidden; width:500px; height:40px; padding-left:78px; width:800px;}
#top_notice .slider_wrap {height:40px;   }
#top_notice .slider_wrap li a {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:500px; font-size:14px; color:#747373; line-height:40px;}
#top_notice .bx-wrapper .bx-prev {left:-34px;	background: url('../img/common/btn_prev01.jpg') no-repeat center;}
#top_notice .bx-wrapper .bx-next {left:-48px;	background: url('../img/common/btn_next01.jpg') no-repeat center;}
#top_notice .bx-wrapper .bx-controls-direction a {margin-top:-8px; width: 15px; height: 15px;}
#top_notice .bx-wrapper .bx-pager,
#top_notice .bx-wrapper .bx-controls-auto {bottom: 30px;width: 100%;}
#top_head .top_util {overflow:hidden; position:absolute; top:14px; right:0; }
#top_head .top_util li {position:relative; float:left; height:13px; padding:0 13px; font-size:13px; color:#747373; line-height:13px;}
#top_head .top_util li+li {}
#top_head .top_util li+li:before {position:absolute; top:50%; left:0; width:1px; height:10px; margin-top:-5px; background:#d1d1d1; content:'';}
#top_head .top_util .tnb_admin a{color:#ff0000;}
#top_head .top_util > li:last-child {padding-right:0;}

#top_banner {overflow:hidden; position:relative; width:100%; height:74px;}
#top_banner .slider_wrap {position:absolute; top:0; left:50%; width:2000px; height:74px; margin-left:-1000px;}
#top_banner .bx-wrapper .bx-pager {position:absolute; left:50%; top:10px; width:auto; height:20px; margin-left:-640px; padding:0; text-align:left;}
#top_banner .btn_close {position:absolute; top:43px; right:50%; bottom:23px; z-index:10; margin-right:-640px;}
#top_banner .bx-wrapper .bx-pager.bx-default-pager a,
#top_banner .bx-wrapper .bx-pager.bx-default-pager a:hover {width:10px; height:10px; -moz-border-radius: 50%; -webkit-border-radius: 50%;	border-radius: 50%; background:#949494; box-sizing:border-box; -webkit-box-sizing:border-box;}
#top_banner .bx-wrapper .bx-pager.bx-default-pager a.active {border:0; background:#ffffff;}
#top_banner .bx-wrapper .bx-pager * {vertical-align:middle;}

#header {position:relative; z-index:100; height:147px;}
.header_top {position:relative; width:1280px; height:98px; margin:0 auto; padding-top:16px; text-align:center; vertical-align:top;}
.header_top:after {position:absolute; bottom:0; left:50%; width:5000px; height:1px; margin-left:-2500px; background:#dddddd; content:'';}
.header_top .img01 {position:absolute; top:29px; left:40px;}
.top_customer {position:absolute; top:29px; right:0;}

#gnb {overflow:hidden; position:relative; z-index:1000; height:49px; background:#fff; -webkit-transition:all 0.4s ease; transition:all 0.4s ease; text-align:center;}
#gnb.fixed_top {position:fixed; top:0; left:0; z-index:10000; width:100%; min-width:1200px;}
#gnb:before {position:absolute; top:48px; left:0; width:100%; height:500px; border-top:1px solid #dddddd; background:#f7f7f7; content:'';}
#gnb.on {height:500px; border-bottom:1px solid #2b2b2b;}
#gnb > ul {display:inline-block; width:1280px; padding-right:75px; color:#333333; }
#gnb > ul > li {float:left; position:relative; width:20%; height:500px;}
#gnb > ul > li.s04, #gnb > ul > li.s05, #gnb > ul > li.s06, #gnb > ul > li.s07, #gnb > ul > li.s08 {width:20%;}
#gnb > ul > li:first-child > a {border-left:1px solid #dddddd;}
#gnb > ul > li > a {position:relative; display:block; font-size:17px; line-height:48px; font-weight:400; -webkit-transition:all 0.4s ease; transition:all 0.4s ease;}
#gnb > ul > li.on > a {color:#fff; background:#27a597;}
#gnb .sub {height:500px; margin-top:1px; padding:16px 0; border-right:1px solid #dddddd; text-align:left; word-break:keep-all; -webkit-transition:all 0.4s ease; transition:all 0.4s ease;}
#gnb > ul > li.on .sub {background:#ffffff;}
#gnb > ul > li:first-child .sub {border-left:1px solid #dddddd;}
#gnb .sub a {display:block; padding:5px 10px 5px 20px; font-size:14.5px; color:#747373; line-height:20px; letter-spacing:-0.03em; -webkit-transition:all 0.4s ease; transition:all 0.4s ease;}
#gnb .sub a:hover {color:#000000;}
#gnb .btn_menu {overflow:hidden; position:absolute; top:0; left:50%; width:75px; margin-left:564px; line-height:49px; border-left:1px solid #dddddd; border-right:1px solid #dddddd; text-indent:-999px; text-align:left; background:url('../img/common/btn_menu.jpg') no-repeat center;}
#gnb .btn_menu.on {background-image:url('../img/common/btn_menu_close.png'); background-color:#13151b;}

#lnb {position:relative; z-index:1; text-align:center; border-bottom:1px solid #d9d9d9; background:#f0f0f0;}
#lnb > ul {display:inline-block; vertical-align:top;}
#lnb > ul > li {position:relative; float:left; width:290px; text-align:left; border-right:1px solid #d9d9d9;}
#lnb > ul > li > a {position:relative; display:block; padding-left:28px; font-size:17px; color:#333333; line-height:59px; background:url('../img/common/ico_lnb01.png') no-repeat 90% center;}
#lnb > ul > li.on > a {background-image:url('../img/common/ico_lnb02.png');}
#lnb > ul > li:first-child {padding-left:24px; border-left:1px solid #d9d9d9; background:url('../img/common/ico_home.png') no-repeat 30px center;}
#lnb > ul > li:first-child > a {background:none;}
#lnb > ul > li:first-child.on > a {background:none;}
#lnb > ul > li:last-child > a {color:#1ab8a6; background-color:#f7f7f7;}
#lnb .sub {display:none; position:absolute; top:60px; left:0; width:100%;}
#lnb li.on .sub {display:block;}
#lnb .sub li {border-bottom:1px solid #d9d9d9;}
#lnb .sub li a {display:block; padding-left:28px; font-size:17px; color:#333; line-height:50px; background:#f0f0f0;}

#total_menu {display:none; position:absolute; top:147px; left:50%; width:1278px; margin-left:-640px; padding:40px 75px; background:#13151b;}
#total_menu > ul {overflow:hidden;}
#total_menu > ul > li {float:left; width:33.33%; padding:0 35px;}
#total_menu > ul > li:nth-child(3n+1) {clear:both;}
#total_menu > ul > li > a {display:block; border-bottom:1px solid #5c6164; font-size:24px; color:#fff; line-height:58px; padding-left:27px; background:url('../img/common/ico_menu01.png') no-repeat 1px center;}
#total_menu .sub {padding:10px 0 30px;}
#total_menu .sub a {display:block; padding-left:15px; font-size:15px; color:#b6b6b6; line-height:30px; background:url('../img/common/ico_menu02.png') no-repeat 0px center; -webkit-transition:all 0.4s ease; transition:all 0.4s ease;}
#total_menu .sub a:hover {color:#fff;}





#q_menu {position:fixed; top:0; right:0; width:90px; height:100%; z-index:10000; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
#q_menu:before {position:absolute; top:0px; left:0; width:90px; height:30000px; background:#070a13; content:'';}
#q_menu.on {width:530px;}
#q_menu.close {width:0;}
#q_menu .inwrap {position:absolute; top:0; left:0; height:930px;}
#q_menu .iframe_wrap {position:relative;}
#q_menu .q_menu_toggle {overflow:hidden; position:absolute; top:334px; left:-35px; width:35px; height:118px; text-indent:-9999px; text-align:left; background:url('../img/common/quick_close.jpg');}
#q_menu.close .q_menu_toggle {background:url('../img/common/quick_open.jpg');}
#q_menu dl {width:90px; background:#ffffff;}
#q_menu dt {position:relative; z-index:1100; text-align:center; background:url('../img/common/img_dot.png') repeat-x left bottom;}
#q_menu dt a {overflow:hidden; display:block; height:92px; padding-top:62px; font-size:13px; color:#000000; font-weight:300; background:url('../img/common/q_menu.png') no-repeat -9px center; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
#q_menu dt.on a {color:#fff; background-image:url('../img/common/q_menu_on.png'); background-color:#259a9a !important;}
#q_menu dt.s01 a {background-position: 0 0;}
#q_menu dt.s02 a {background-color:#f0f0f0; background-position: 0 -92px;}
#q_menu dt.s03 a {background-color:#f0f0f0; background-position: 0 -184px;}
#q_menu dt.s04 a {background-position: 0 -276px;}
#q_menu dt.s05 a {background-position: 0 -368px;}
#q_menu dt.s06 {height:78px; padding-top:20px;}
#q_menu dt.s07 {height:166px; padding-top:15px; background:none;}
#q_menu dt.q_top {height:56px;}
#q_menu dt.q_top a {height:56px; padding-top:0; background:none;}
#q_menu dd {position:absolute; top:0; left:90px; z-index:1199; width:440px; height:20000px; background:#ffffff; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
#q_menu .btn_close {position:absolute; top:20px; right:20px;}
#q_menu .box {padding:0 30px;}
#q_menu table {width:100%; text-align:center; table-layout:fixed; border-bottom:1px solid #e0e0e0;}
#q_menu th {position:relative; font-size:15px; color:#72706d; font-weight:400; line-height:42px; border-bottom:1px solid #e0e0e0;}
#q_menu th:last-child:before {position:absolute; top:12px; left:0; width:1px; height:19px; background:#e0e0e0; content:'';}
#q_menu td {font-size:13px; color:#232426; line-height:35px;}
#q_menu label b {color:#ff0000;}
#q_menu tbody tr:last-child td {}
#q_menu table .title a {overflow:hidden; display:block; white-space:nowrap; text-overflow:ellipsis; text-align:left;}
#q_menu table.type02 a.title {}
#q_menu table .state {display:inline-block; padding:0 8px; font-size:12px; color:#232426; line-height:17px;}
#q_menu table .state.ing {}
#q_menu table .state.complete {color:#fefefe; background:#11a7ba;}
#q_menu .q_customer .img {border:1px solid #dfdede;}
#q_menu .q_customer .img+.img {margin-top:5px;}
#q_menu dd img {vertical-align:top;}
#q_menu .map {overflow:hidden; height:250px;}
#q_menu .contactus {}
#q_menu .contactus img {display:block;}
#q_menu .contactus .sms {display:block; margin-top:30px;}
#q_menu .contactus .btn_area+.sms {margin-top:20px;}
#q_menu .contactus .q_btn {margin:0; line-height:34px; font-size:18px; font-weight:400;}
#q_menu .q_agree_box {left:30px;}
#q_menu .q_btn {display:block; width:100%; margin-top:20px; border:2px solid #3a3149; font-size:20px; color:#3a3149; line-height:60px; text-align:center; font-weight:700; background:#fff; cursor:pointer;}


.form_table {width:100%;}
.form_table .th label {position:relative; display:block; font-size:15px; color:#72706d; line-height:25px; font-weight:300; border-right:1px solid #e0e0e0}
.form_table td {padding:9px 0 9px 30px; border-bottom:1px solid #e0e0e0; text-align:left; color:#999999; font-weight:300;}
.form_table td label {color:#999999; font-weight:300; font-size:13px;}
.form_table td * {vertical-align:middle;}
.form_table .th {padding:9px 0; }
.form_table select, .form_table input[type="text"] {border:1px solid #e0e0e0; height:30px; font-size:13px; color:#999999;}
.form_table .frow {overflow:hidden;}
.form_table select.hp {float:left; width:34%;}
.form_table input.hp {float:left; width:32%; margin-left:1%;}



.q_agree_box {display:none; position:absolute; top:145px; left:125px; width:381px; padding-bottom:20px; border:1px solid #1db7b3; background:#fff; letter-spacing:-0.04em;}
.q_agree_box strong {display:block; padding-left:20px; font-size:17px; color:#fefefe; line-height:60px; font-weight:500; background:#1db7b3; }
.q_agree_box .btn_close02 {position:absolute; top:13px; right:20px;}
.q_agree_box .agree_cont {width:100%; height:250px; padding:20px; overflow-y:scroll; font-style:normal;}
.call .q_agree_box {top:90px;}

.chk_area {margin-top:15px;}
.chk_area .f_row {margin:0; border:0; padding:0;}
.chk_area label {display:inline-block; margin-left:5px; font-size:15px; color:#72706d;}
.q_btn_more {display:inline-block; margin-left:12px; padding:0 16px; font-size:14px; color:#fff !important; line-height:27px; background:#232426; cursor:pointer; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}





.hp {width:30%;}
.half {width:50%;}
.full {width:100%;}
.temail {width:46%; margin:2px 0;}











#bottom {text-align:center;}

#b_sitemap { /*margin-top:89px;*/ background:#5a575b;}
#b_sitemap > ul {position:relative; overflow:hidden; width:1250px;  margin:0 auto; padding:55px 0 50px; text-align:left;}
#b_sitemap > ul > li {float:left; width:20%; height:400px; padding-left:23px; border-right:1px solid #6a666b;}
#b_sitemap > ul > li:first-child {border-left:1px solid #6a666b;}
#b_sitemap li.s03 {width:15.8109%;}
#b_sitemap li.s08 {position:absolute; top:200px ; right:0; border-right:0}
#b_sitemap > ul > li > a {display:block; position:relative; font-size:17px; color:#ffffff; padding-bottom:14px;}
#b_sitemap > ul > li > a:after {position:absolute; bottom:0; left:0; width:14px; height:1px; background:#ffffff; content:''; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
#b_sitemap > ul > li:hover > a:after {background:#95b819;}
#b_sitemap .sub {padding-top:18px;}
#b_sitemap .sub li {}
#b_sitemap .sub li a {display:block; font-size:14px; color:#d2d0d2; line-height:26px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
#b_sitemap .sub li:hover a {color:#95b819;}

#q_counsel {position:relative; z-index:4; display:inline-block; width:1280px; padding-top:14px; vertical-align:top;}
#q_counsel:before {position:absolute; top:0; left:50%; width:5000px; height:100%; margin-left:-2500px; background:#373438; content:'';}
#q_counsel h2 {float:left; position:relative; z-index:5;}
#q_counsel form {float:left; position:relative; z-index:6;}
#q_counsel table {display:block; table-layout:fixed; overflow:hidden; width:883px; padding-left:30px; border-left:1px solid #5f5d60; text-align:left;}
#q_counsel table td {padding:5px 10px 0; font-size:14px; color:#fff; vertical-align:top; }
#q_counsel table td.pd01 {padding-left:20px;}
#q_counsel table td input[type="text"] {width:100%; height:30px; padding:0 6px; border:0; font-size:14px; color:#5f5d60; background:#ffffff; }
#q_counsel table td input[type="image"] {width:193px; height:128px; margin-left:20px; cursor:pointer; vertical-align:middle;}
#q_counsel table td input[type="text"].email {width:60%;}
#q_counsel table td label {line-height:31px;}
#q_counsel table td input[type="checkbox"] {width:14px; height:14px; margin-right:5px; vertical-align:middle;}
#q_counsel table td span {display:block; }
#q_counsel table td.agree {padding:0 5px; color:#fff; text-align:left; line-height:15px;}
#q_counsel .q_agree_box {top:-220px; text-align:left;}

.t_left {text-align:left;}
.t_center {text-align:center;}

#footer {padding:61px 0;  background:#222222; text-align:center;}
.footer_menu {margin-top:30px; display:inline-block; width:765px; border:1px solid #555555}
.footer_menu li {float:left; width:20%;}
.footer_menu li+li {border-left:1px solid #555555}
.footer_menu li a {display:block; font-size:14px; color:#f2f2f2; line-height:36px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease;}
.footer_menu li:hover a {color:#dff690;}

address {overflow:hidden; width:1280px; margin:0 auto;}
address dl {margin-top:42px; text-align:center;}
address dt {}
address dd {font-size:14px; color:rgba(255,255,255,255); line-height:24px;}
address dd span {position:relative; padding:0 9px;}
address dd span+span:before {position:absolute; top:50%; left:0; width:1px; height:14px; margin-top:-7px; background:rgba(255,255,255,0.5); content:'';}

/****************************************************************************************************************/

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;height:0}
#hd_pop h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff;}
.hd_pops img{max-width:100%}
.hd_pops_con {}
.hd_pops_footer {padding: 0;background:#000;color:#fff;text-align:left;position:relative;}
.hd_pops_footer:after {display:block;visibility:hidden;clear:both;content:""}
.hd_pops_footer button {padding: 10px;border:0;color:#fff}
.hd_pops_footer .hd_pops_reject{background:#000;text-align:left}
.hd_pops_footer .hd_pops_close{background:#393939;position:absolute;top:0;right:0}
/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
/* 본문 바로가기 */