@charset "utf-8";
/* CSS Document */
@import url("font/font.css");

/*********** Base Style ***********/
body {} /*** min-width:1900px ***/
body { font-size: 14px; color: #666666; font-family: "Noto Sans KR", 맑은고딕, "Malgun Gothic", "Apple SD Gothic Neo", sans-serif, 나눔고딕, "Nanum Gothic", Dotum; font-weight:300;}
a { color: inherit; text-decoration: inherit;}
a:hover {color: inherit; text-decoration: inherit; } /* underline */
/*none : 기본값, 텍스트기본
/*underline: 앵커 태그와 같은 밑줄 효과
/*overline: 윗줄 효과
/* line-through : 중앙에 줄 효과

/* 링크 걸었을때 주위에 테두리 점선 없애기 
a,img {outline: none; selector-dummy: expression(this.hideFocus=true);}*/



body, div, ul, form, fieldset, td, th, li,dl,dt,dd, h1, h2, h3, h4, p { margin:0; padding:0; border: 0;}
header, main, footer {display:block;}
img { border: 0; }
img .middle { vertical-align:middle; margin-bottom:3px;}
img .top {vertical-align:top; margin-top: 3px;}
img .block { display:block;}
h1 img,h2 img,h3 img { vertical-align: top; }
h1,h2,h3,h4,h5 { line-height: 1;;}
ol,ul,li { list-style: none;}
fieldset, img { border: none;}
hr { display:none;}
form {display:inline;}
div .hide { display:none;}
table {
	border-spacing:0;
	padding:0;
	border:0;
	border-collapse:collapse;
}
th, td { 
	padding:0;
}

legend, caption {overflow:hidden; text-indent:-999px; width:100%; height:1px; font-size:0; line-height:0;}
table th { text-align:center;}
em { font-style: normal;}
address {font-style: normal; }
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

a{}



/***************************** 설명박스 숨기기 class *******************************/

.hidden_t {font-size:0;line-height:0;margin-left:-1600px;}
.blind {overflow:hidden; position:absolute; top:-999px; left:0; width:0; height:0; text-indent:-999px;}

/***************************** 기본 class *******************************/

#skip_nav {position:fixed; left:0; top:-40px; width:100%; text-align:center; line-height:40px; background:rgba(0, 0, 0, 0.5); color:#ffffff; font-size:16px; z-index:10000; transition:top 0.3s;}
#skip_nav:focus {top:0;}

ul li img { vertical-align:top;}
.tRight {text-align:right;}
.tLeft {text-align:left;}
.tCenter {text-align:center;}
.tCenter2 {margin:0 auto;}
.fRight {float:right;}
.fRightw {float:right;padding-right:10px;}
.fLeft {float:left;}

.btnR {margin-bottom:15px; text-align:right;}
.btnC {margin-bottom:15px; text-align:center;}

.underLine {text-decoration:underline !important;}

/* img */
.middle { vertical-align:middle;}
.middle1 { vertical-align:middle; margin-top:1px;}
.middle2 { vertical-align:middle; margin-top:2px;}
.middle3 { vertical-align:middle; margin-bottom:2px;}

.line{height:1px; background:#e7e7e7; font-size:0; line-height:0;}/** 기본 라인 **/
.b {font-weight:bold;}/** 굵은 텍스트 **/
.hand {cursor: pointer; }/** 이미지에 onClick 처리했을 때 손바닥 모양 만들기 **/
.clr {clear:both; font-size:0; line-height:0;}/** 플로팅 된 요소를 clear하기 **/
.clearfix:after { content: "."; display: block; height: 0; overflow: hidden; clear: both;}
.sound_only{overflow:hidden; position:absolute; top:-500px; left:0px; font-size:0px;}
.blind {font-size:0; position:absolute; top:-999999px;}


.imgwrap {margin:0; padding:0; border:0;}
.imgwrap img { display:block;}
.svi_info img { display:block;}
.imgwrap2 { text-align:center;}
.imgwrap2 img { margin:0 auto; display:block;}


input[type="submit"] {border:0;}


/** COLOR ******************************************************************************/
